  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'users/info', users: @user %>
        <%= render 'books/new', books: @newbook %>
      </div>
  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
      <table class="table">
        <tr>
          <td><%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %>
          <%= link_to @user.name, user_path(@user) %></td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <td><%= link_to "Edit",edit_book_path(@book), class:"btn btn-success" %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: "本当に消しますか?"}, class:"btn btn-danger" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
